header {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  justify-content: space-around;
}
header .logo_header {
  padding-left: 230px;
}
header .header_navigation_menu {
  height: 23px;
  padding-top: 10px;
}
header .header_navigation_menu a {
  padding-left: 40px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  text-transform: uppercase;
  color: #030D15;
  font-family: Hind Siliguri;
}
header .header_navigation_menu a .vector_header {
  display: inline-block;
  padding-bottom: 2px;
  padding-left: 8px;
}
header .header_navigation_menu .home {
  padding-left: 0px;
}
header .icons_for_user {
  display: flex;
}
header .icons_for_user .light_theme_icon_header {
  height: 20px;
  margin-top: 10px;
}
header .icons_for_user .light_theme_icon_header .icon_loupe {
  padding-right: 30px;
}
header .icons_for_user .light_theme_icon_header .loupe_dark_theme {
  display: none;
}
header .icons_for_user .icon_basket {
  padding-right: 24px;
  cursor: pointer;
}
header .icons_for_user .icon_basket:hover {
  background-color: yellow;
}
header .icons_for_user .cart_dark_theme {
  display: none;
}
header .switch_mode {
  margin-right: 50px;
  width: 60px;
  height: 30px;
  border: none;
  border-radius: 3px;
  background-color: black;
  color: white;
  font-family: Hind Siliguri;
}
header .switch_mode:hover {
  background-color: rgb(45, 50, 102);
}