.block_popular_products {
  width: 1140px;
  margin: 0 auto;
  margin-top: 125px;
}
.block_popular_products .title_block_popular_products {
  width: 490px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.block_popular_products .title_block_popular_products .p_title_block_popular_products {
  text-align: center;
  font-family: "Hind Siliguri";
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.145em;
  text-transform: uppercase;
  color: #C72535;
  opacity: 0.6;
}
.block_popular_products .title_block_popular_products .h2_title_block_popular_products {
  text-align: center;
  font-family: "Hind Siliguri";
  font-weight: 600;
  font-size: 44px;
  line-height: 71px;
  color: #030D15;
}
.block_popular_products .title_block_popular_products .flex_block_title_block_popular_products {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.block_popular_products .title_block_popular_products .flex_block_title_block_popular_products .span_title_block_popular_products {
  font-family: "Hind Siliguri";
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  text-transform: uppercase;
  color: #C72535;
}
.block_popular_products .grid_block_popular_products {
  display: grid;
  grid-template-columns: 360px 360px 360px;
  gap: 30px;
}
.block_popular_products .grid_block_popular_products .item_product_grid_block_popular_products {
  background: #FFFFFF;
  box-shadow: 0px 100px 80px rgba(191, 191, 191, 0.07), 0px 41.7776px 33.4221px rgba(191, 191, 191, 0.0503198), 0px 22.3363px 17.869px rgba(191, 191, 191, 0.0417275), 0px 12.5216px 10.0172px rgba(191, 191, 191, 0.035), 0px 6.6501px 5.32008px rgba(191, 191, 191, 0.0282725), 0px 2.76726px 2.21381px rgba(191, 191, 191, 0.0196802);
}
.block_popular_products .grid_block_popular_products .item_product_grid_block_popular_products .mouse_apple {
  padding-left: 35px;
}
.block_popular_products .grid_block_popular_products .item_product_grid_block_popular_products .p_item_product_grid_block_popular_products {
  font-family: "Hind Siliguri";
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #030D15;
  padding-top: 35px;
  margin-left: 35px;
}
.block_popular_products .grid_block_popular_products .item_product_grid_block_popular_products .block_icons_user {
  display: flex;
  width: 360px;
  justify-content: space-around;
  margin-bottom: 41px;
}
.block_popular_products .grid_block_popular_products .item_product_grid_block_popular_products .h2_item_product_grid_block_popular_products {
  font-family: "Hind Siliguri";
  font-weight: 600;
  font-size: 25px;
  line-height: 40px;
  color: #030D15;
  padding-left: 35px;
}
.block_popular_products .grid_block_popular_products .item_product_grid_block_popular_products .block_price_color_offerstars {
  width: 360px;
}
.block_popular_products .grid_block_popular_products .item_product_grid_block_popular_products .block_price_color_offerstars .bold_text_price_popular_products {
  font-family: "Hind Siliguri";
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  color: #030D15;
  padding-left: 35px;
}
.block_popular_products .grid_block_popular_products .item_product_grid_block_popular_products .block_price_color_offerstars .slash_block_popular_products {
  opacity: 0.5;
}
.block_popular_products .grid_block_popular_products .item_product_grid_block_popular_products .block_price_color_offerstars .light_text_price_popular_products {
  font-family: "Hind Siliguri";
  font-weight: 300;
  font-size: 14px;
  line-height: 27px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #030D15;
  opacity: 0.5;
}
.block_popular_products .grid_block_popular_products .item_product_grid_block_popular_products .block_price_color_offerstars .five_stars_block_popular_products {
  padding-left: 35px;
}
.block_popular_products .grid_block_popular_products .item_product_grid_block_popular_products .button-add-cart {
  margin-left: 36px;
  margin-top: 11px;
  width: 80px;
  height: 30px;
  background: #247CC0;
  font-family: "Hind Siliguri";
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
}
.block_popular_products .grid_block_popular_products .item_product_grid_block_popular_products .counter-wrapper {
  display: flex;
  margin-left: 30px;
  margin-top: 10px;
  padding-bottom: 10px;
}
.block_popular_products .grid_block_popular_products .item_product_grid_block_popular_products .counter-wrapper .items__control {
  background-color: silver;
  width: 30px;
  height: 20px;
  text-align: center;
  cursor: pointer;
  display: block;
  border-radius: 5px;
}
.block_popular_products .grid_block_popular_products .item_product_grid_block_popular_products .counter-wrapper .items__current {
  background-color: red;
  width: 30px;
  height: 20px;
  text-align: center;
  border-radius: 5px;
}
.block_popular_products .item_product_grid_block_popular_products_other {
  background: #FFFFFF;
  box-shadow: 0px 100px 80px rgba(191, 191, 191, 0.07), 0px 41.7776px 33.4221px rgba(191, 191, 191, 0.0503198), 0px 22.3363px 17.869px rgba(191, 191, 191, 0.0417275), 0px 12.5216px 10.0172px rgba(191, 191, 191, 0.035), 0px 6.6501px 5.32008px rgba(191, 191, 191, 0.0282725), 0px 2.76726px 2.21381px rgba(191, 191, 191, 0.0196802);
}
.block_popular_products .item_product_grid_block_popular_products_other .p_item_product_grid_block_popular_products {
  font-family: "Hind Siliguri";
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  padding-top: 35px;
  padding-left: 35px;
}
.block_popular_products .item_product_grid_block_popular_products_other .other_goods {
  padding-left: 35px;
}
.block_popular_products .item_product_grid_block_popular_products_other .h2_item_product_grid_block_popular_products {
  font-family: "Hind Siliguri";
  font-weight: 600;
  font-size: 25px;
  line-height: 40px;
  color: #030D15;
  padding-top: 35px;
  padding-left: 35px;
}
.block_popular_products .item_product_grid_block_popular_products_other .bold_text_price_popular_products {
  font-family: "Hind Siliguri";
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  color: #030D15;
  padding-left: 35px;
}
.block_popular_products .item_product_grid_block_popular_products_other .slash_block_popular_products {
  opacity: 0.5;
}
.block_popular_products .item_product_grid_block_popular_products_other .light_text_price_popular_products {
  font-family: "Hind Siliguri";
  font-weight: 300;
  font-size: 14px;
  line-height: 27px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #030D15;
  opacity: 0.5;
}
.block_popular_products .item_product_grid_block_popular_products_other .five_stars_block_popular_products {
  padding-left: 35px;
}
.block_popular_products .item_product_grid_block_popular_products_other .button-add-cart {
  margin-left: 36px;
  margin-top: 11px;
  width: 80px;
  height: 30px;
  background: #247CC0;
  font-family: "Hind Siliguri";
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
}
.block_popular_products .item_product_grid_block_popular_products_other .counter-wrapper {
  display: flex;
  margin-left: 30px;
  margin-top: 15px;
  padding-bottom: 10px;
}
.block_popular_products .item_product_grid_block_popular_products_other .counter-wrapper .items__control {
  background-color: silver;
  width: 30px;
  height: 20px;
  text-align: center;
  cursor: pointer;
  display: block;
  border-radius: 5px;
}
.block_popular_products .item_product_grid_block_popular_products_other .counter-wrapper .items__current {
  background-color: red;
  width: 30px;
  height: 20px;
  text-align: center;
  border-radius: 5px;
}
.block_popular_products .item_product_grid_block_popular_products_keyboard {
  background: #FFFFFF;
  box-shadow: 0px 100px 80px rgba(191, 191, 191, 0.07), 0px 41.7776px 33.4221px rgba(191, 191, 191, 0.0503198), 0px 22.3363px 17.869px rgba(191, 191, 191, 0.0417275), 0px 12.5216px 10.0172px rgba(191, 191, 191, 0.035), 0px 6.6501px 5.32008px rgba(191, 191, 191, 0.0282725), 0px 2.76726px 2.21381px rgba(191, 191, 191, 0.0196802);
}
.block_popular_products .item_product_grid_block_popular_products_keyboard .p_keyboard {
  font-family: "Hind Siliguri";
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  padding-top: 35px;
  padding-left: 35px;
  padding-bottom: 50px;
}
.block_popular_products .item_product_grid_block_popular_products_keyboard .keyboard_good_image {
  padding-bottom: 80px;
  margin-left: 30px;
}
.block_popular_products .item_product_grid_block_popular_products_keyboard .h2_item_keyboard {
  font-family: "Hind Siliguri";
  font-weight: 600;
  font-size: 25px;
  line-height: 40px;
  color: #030D15;
  padding-left: 35px;
}
.block_popular_products .item_product_grid_block_popular_products_keyboard .bold_text_price_keyboard {
  font-family: "Hind Siliguri";
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  padding-left: 35px;
}
.block_popular_products .item_product_grid_block_popular_products_keyboard .slash_keyboard {
  opacity: 0.5;
}
.block_popular_products .item_product_grid_block_popular_products_keyboard .light_text_price_keyboard {
  font-family: "Hind Siliguri";
  font-weight: 300;
  font-size: 14px;
  line-height: 27px;
  opacity: 0.5;
}
.block_popular_products .item_product_grid_block_popular_products_keyboard .four_stars_without_one {
  padding-left: 35px;
}
.block_popular_products .item_product_grid_block_popular_products_keyboard .button-add-cart {
  margin-left: 36px;
  margin-top: 11px;
  width: 80px;
  height: 30px;
  background: #247CC0;
  font-family: "Hind Siliguri";
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
}
.block_popular_products .item_product_grid_block_popular_products_keyboard .counter-wrapper {
  display: flex;
  margin-left: 30px;
  margin-top: 10px;
  padding-bottom: 10px;
}
.block_popular_products .item_product_grid_block_popular_products_keyboard .counter-wrapper .items__control {
  background-color: silver;
  width: 30px;
  height: 20px;
  text-align: center;
  cursor: pointer;
  display: block;
  border-radius: 5px;
}
.block_popular_products .item_product_grid_block_popular_products_keyboard .counter-wrapper .items__current {
  background-color: red;
  width: 30px;
  height: 20px;
  text-align: center;
  border-radius: 5px;
}
.block_popular_products .item_product_grid_block_popular_products_mackbook {
  background: #FFFFFF;
  box-shadow: 0px 100px 80px rgba(191, 191, 191, 0.07), 0px 41.7776px 33.4221px rgba(191, 191, 191, 0.0503198), 0px 22.3363px 17.869px rgba(191, 191, 191, 0.0417275), 0px 12.5216px 10.0172px rgba(191, 191, 191, 0.035), 0px 6.6501px 5.32008px rgba(191, 191, 191, 0.0282725), 0px 2.76726px 2.21381px rgba(191, 191, 191, 0.0196802);
}
.block_popular_products .item_product_grid_block_popular_products_mackbook .p_mackbook {
  font-family: "Hind Siliguri";
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  padding-top: 35px;
  padding-left: 35px;
}
.block_popular_products .item_product_grid_block_popular_products_mackbook .h2_item_mackbook {
  font-family: "Hind Siliguri";
  font-weight: 600;
  font-size: 25px;
  line-height: 40px;
  color: #030D15;
  padding-left: 35px;
}
.block_popular_products .item_product_grid_block_popular_products_mackbook .bold_text_price_mackbook {
  font-family: "Hind Siliguri";
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  padding-left: 35px;
}
.block_popular_products .item_product_grid_block_popular_products_mackbook .slash_mackbook {
  opacity: 0.5;
}
.block_popular_products .item_product_grid_block_popular_products_mackbook .light_text_price_mackbook {
  font-family: "Hind Siliguri";
  font-weight: 300;
  font-size: 14px;
  line-height: 27px;
  opacity: 0.5;
}
.block_popular_products .item_product_grid_block_popular_products_mackbook .four_stars_without_one {
  padding-left: 35px;
}
.block_popular_products .item_product_grid_block_popular_products_mackbook .button-add-cart {
  margin-left: 36px;
  margin-top: 11px;
  width: 80px;
  height: 30px;
  background: #247CC0;
  font-family: "Hind Siliguri";
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
}
.block_popular_products .item_product_grid_block_popular_products_mackbook .counter-wrapper {
  display: flex;
  margin-left: 30px;
  margin-top: 10px;
  padding-bottom: 10px;
}
.block_popular_products .item_product_grid_block_popular_products_mackbook .counter-wrapper .items__control {
  background-color: silver;
  width: 30px;
  height: 20px;
  text-align: center;
  cursor: pointer;
  display: block;
  border-radius: 5px;
}
.block_popular_products .item_product_grid_block_popular_products_mackbook .counter-wrapper .items__current {
  background-color: red;
  width: 30px;
  height: 20px;
  text-align: center;
  border-radius: 5px;
}
.block_popular_products .item_product_grid_block_popular_products_headset {
  background: #FFFFFF;
  box-shadow: 0px 100px 80px rgba(191, 191, 191, 0.07), 0px 41.7776px 33.4221px rgba(191, 191, 191, 0.0503198), 0px 22.3363px 17.869px rgba(191, 191, 191, 0.0417275), 0px 12.5216px 10.0172px rgba(191, 191, 191, 0.035), 0px 6.6501px 5.32008px rgba(191, 191, 191, 0.0282725), 0px 2.76726px 2.21381px rgba(191, 191, 191, 0.0196802);
}
.block_popular_products .item_product_grid_block_popular_products_headset .p_headset {
  font-family: "Hind Siliguri";
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  padding-top: 35px;
  padding-left: 35px;
}
.block_popular_products .item_product_grid_block_popular_products_headset .h2_item_headset {
  font-family: "Hind Siliguri";
  font-weight: 600;
  font-size: 25px;
  line-height: 40px;
  color: #030D15;
  padding-left: 35px;
  padding-top: 45px;
}
.block_popular_products .item_product_grid_block_popular_products_headset .bold_text_price_headset {
  font-family: "Hind Siliguri";
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  padding-left: 35px;
}
.block_popular_products .item_product_grid_block_popular_products_headset .slash_headset {
  opacity: 0.5;
}
.block_popular_products .item_product_grid_block_popular_products_headset .light_text_price_headset {
  font-family: "Hind Siliguri";
  font-weight: 300;
  font-size: 14px;
  line-height: 27px;
  opacity: 0.5;
}
.block_popular_products .item_product_grid_block_popular_products_headset .four_stars_without_one {
  padding-left: 35px;
}
.block_popular_products .item_product_grid_block_popular_products_headset .button-add-cart {
  margin-left: 36px;
  margin-top: 11px;
  width: 80px;
  height: 30px;
  background: #247CC0;
  font-family: "Hind Siliguri";
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
}
.block_popular_products .item_product_grid_block_popular_products_headset .counter-wrapper {
  display: flex;
  margin-left: 30px;
  margin-top: 15px;
  padding-bottom: 10px;
}
.block_popular_products .item_product_grid_block_popular_products_headset .counter-wrapper .items__control {
  background-color: silver;
  width: 30px;
  height: 20px;
  text-align: center;
  cursor: pointer;
  display: block;
  border-radius: 5px;
}
.block_popular_products .item_product_grid_block_popular_products_headset .counter-wrapper .items__current {
  background-color: red;
  width: 30px;
  height: 20px;
  text-align: center;
  border-radius: 5px;
}
.block_popular_products .item_product_grid_block_popular_products_drone {
  background: #FFFFFF;
  box-shadow: 0px 100px 80px rgba(191, 191, 191, 0.07), 0px 41.7776px 33.4221px rgba(191, 191, 191, 0.0503198), 0px 22.3363px 17.869px rgba(191, 191, 191, 0.0417275), 0px 12.5216px 10.0172px rgba(191, 191, 191, 0.035), 0px 6.6501px 5.32008px rgba(191, 191, 191, 0.0282725), 0px 2.76726px 2.21381px rgba(191, 191, 191, 0.0196802);
}
.block_popular_products .item_product_grid_block_popular_products_drone .p_drone {
  font-family: "Hind Siliguri";
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  padding-top: 35px;
  padding-left: 35px;
}
.block_popular_products .item_product_grid_block_popular_products_drone .h2_item_drone {
  font-family: "Hind Siliguri";
  font-weight: 600;
  font-size: 25px;
  line-height: 40px;
  color: #030D15;
  padding-left: 35px;
  padding-top: 55px;
}
.block_popular_products .item_product_grid_block_popular_products_drone .bold_text_price_drone {
  font-family: "Hind Siliguri";
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  padding-left: 35px;
}
.block_popular_products .item_product_grid_block_popular_products_drone .slash_drone {
  opacity: 0.5;
}
.block_popular_products .item_product_grid_block_popular_products_drone .light_text_price_drone {
  font-family: "Hind Siliguri";
  font-weight: 300;
  font-size: 14px;
  line-height: 27px;
  opacity: 0.5;
}
.block_popular_products .item_product_grid_block_popular_products_drone .four_stars_without_one {
  padding-left: 35px;
}
.block_popular_products .item_product_grid_block_popular_products_drone .button-add-cart {
  margin-left: 36px;
  margin-top: 11px;
  width: 80px;
  height: 30px;
  background: #247CC0;
  font-family: "Hind Siliguri";
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
}
.block_popular_products .item_product_grid_block_popular_products_drone .counter-wrapper {
  display: flex;
  margin-left: 30px;
  margin-top: 15px;
  padding-bottom: 10px;
}
.block_popular_products .item_product_grid_block_popular_products_drone .counter-wrapper .items__control {
  background-color: silver;
  width: 30px;
  height: 20px;
  text-align: center;
  cursor: pointer;
  display: block;
  border-radius: 5px;
}
.block_popular_products .item_product_grid_block_popular_products_drone .counter-wrapper .items__current {
  background-color: red;
  width: 30px;
  height: 20px;
  text-align: center;
  border-radius: 5px;
}