.block_view_all {
    width: 129px;
    margin: 0 auto;
    margin-top: 56px;
    
    .span_block_view_all {
        font-family: 'Hind Siliguri';
        font-weight: 600;
        font-size: 14px;
        line-height: 23px;
        text-align: center;
        text-transform: uppercase;
        padding-right: 10px;
    }

    .right_arrow_dark_theme {
        display: none;
    }
}