.cart_for_products {
  display: none;
  border: 5px solid rgb(85, 204, 30);
  background-color: aqua;
  margin: 0 auto;
}
.cart_for_products .card_title {
  font-size: 24px;
  margin: 0 auto;
}
.cart_for_products .counter-wrapper {
  display: flex;
  margin-left: 10px;
  margin-top: 10px;
}
.cart_for_products .counter-wrapper .items__control {
  width: 30px;
  height: 20px;
  text-align: center;
  cursor: pointer;
  display: block;
  border-radius: 5px;
  z-index: 1;
}
.cart_for_products .counter-wrapper .items__current {
  background-color: red;
  width: 30px;
  height: 20px;
  text-align: center;
  border-radius: 5px;
}
.cart_for_products .close_cart {
  margin: 0 auto;
  width: 100px;
  height: 20px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  margin-bottom: 5px;
}
.cart_for_products .close_cart:hover {
  background-color: chocolate;
  color: white;
}